.Settings {
    padding: 20px;
    background-color: #070707;
    border-right: 1px solid #101010;
}

.Settings > span {
    color: #404040;
}

.Settings__list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Settings__listItem {
    border-radius: 10px;
    padding: 5px;
    border: 2px solid transparent;
    display: flex;
}

.link {
    color: #fff;
    gap: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.Settings__listItem:hover {
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #505050;
}

.Settings__listItem img {
    width: 35px;
    padding: 5px;
    background: #404040;
    border-radius: 5px;
    border: 2px solid #505050;
}