.Settings {
    text-wrap: nowrap;
    padding: 20px;
    background-color: var(--setting-color);
    border-right: 1px solid var(--nav-border);
}

.Settings > span {
    color: #404040;
}

.Settings__list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Settings__listItem {
    width: max-content;
    min-width: 200px;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid transparent;
    display: flex;
}

.link {
    color: var(--text-secondary);;
    gap: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.active {
    color: var(--text-color);
    border-radius: 8px;
    font-weight: 600;
}

.Settings__listItem:hover {
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--border-color);
}

.Settings__listItem img {
    width: 35px;
    padding: 5px;
    background: #404040;
    border-radius: 5px;
    border: 2px solid #505050;
}