.termsNote {
    text-wrap: nowrap;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    text-align: center;
}

.termsNote p {
    font-size: 11px;
    color: var(--text-secondary);
    margin: 0;
    font-family: "Departure Mono";
}

.termsNote a {
    color: var(--text-secondary);
    transition: color 0.3s ease;
}

.termsNote a:hover {
    color: var(--text);
}
