:root {
  --bg: #000;
  --border-color: #575656;
  --header-color: #101010;
  --input-color: #000;
  --success-color: #337418;
  --success-text-color: #5dd62c;
  --nav-border: #101010;
  --links-support: #303030;

  --setting-color: #070707;
  --button-short: #fff;
  --text: #eaeaea;
  --text-secondary: #616161;

  --primary: #337418;
  --shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  --brightness: brightness(1);
}

[data-theme="light"] {
  --bg: #f5f6f8;
  --header-color: #a7a7a7;
  --setting-color: #c2c2c2;
  --nav-border: #7c7c7c;
  --links-support: #b8b8b8;

  --text: #111111;
  --text-secondary: #555555;

  --border-color: #d0d5dd;

  --input-color: #ffffff;
  --button-short: #6e6e6e;

  --success-color: #1f7a3a;
  --success-text-color: #5dd62c;

  --primary: #4f46e5;
  --primary-hover: #4338ca;
  --opacityIcon: 50%;

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  --brightness: brightness(0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Departure Mono', monospace;
}

body {
  margin: 0;
  color: #fff;
  background-color: var(--bg);
  overflow: auto;
  overflow-x: hidden;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--bg-color);
}

@font-face {
    font-family: 'Departure Mono';
    src: url('./assets/fonts/DepartureMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}