:root {
  --bg-color: #000;
  --border-color: #575656;
  --input-color: #000;
  --success-color: #337418;
  --success-text-color: #5dd62c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Departure Mono', monospace;
}

body {
  margin: 0;
  color: #fff;
  background-color: var(--bg-color);
  overflow: hidden;
}

#root {
  width: 100%;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
}

@font-face {
    font-family: 'Departure Mono';
    src: url('./assets/fonts/DepartureMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}